https://www.datamanim.com/dataset/03_dataq/typeone.html

In [1]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### Question 11
각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라.

In [191]:
channel.ct = pd.to_datetime(channel.ct)
video.ct = pd.to_datetime(video.ct)

answer = video[['videopk', 'videoname']].groupby('videoname', as_index = False).count().rename(columns = {'videopk': 'count'})
answer

  videoname  count
0    공범 EP1   3492
1    공범 EP2   3204
2    공범 EP3   2568
3    공범 EP4   2280
4    공범 EP5   1562
5    공범 EP6   1274
6    공범 EP7    555
7    공범 EP8    266

### Question 12
수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라.

In [194]:
answer = (video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last'))[['videoname', 'viewcnt', 'ct']].reset_index(drop = True)
answer

  videoname  viewcnt                  ct
0    공범 EP1  3180532 2021-11-01 15:30:03
1    공범 EP2  2199328 2021-11-01 15:30:03
2    공범 EP3  1671294 2021-11-01 15:30:03
3    공범 EP4  1818493 2021-11-01 15:30:03
4    공범 EP5  1503435 2021-11-01 15:30:04
5    공범 EP6  1750222 2021-11-01 15:30:04
6    공범 EP7  1630200 2021-11-01 15:30:05
7    공범 EP8  1289088 2021-11-01 15:30:05

### Question 13
Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라.

In [190]:
answer = channel[['channelname', 'subcnt', 'ct']][channel['ct'] > '2021-10-03'].sort_values('ct').drop_duplicates('channelname').reset_index(drop = True)
answer

        channelname   subcnt                  ct
0            논리왕 전기   922000 2021-10-03 03:01:02
1        츄정ChuJeong   322000 2021-10-03 03:01:02
2             야전삽짱재   257000 2021-10-03 03:01:02
3        김농밀의 농밀한 삶     7520 2021-10-03 03:01:03
4   와글와글 WagleWagle    55000 2021-10-03 03:01:03
5       릴펄 Lilpearl    10100 2021-10-03 03:01:03
6           형사!탐정되다    14900 2021-10-03 03:01:03
7               조나단   215000 2021-10-03 03:01:03
8               꽈뚜룹  1330000 2021-10-03 03:01:04
9     Balming Tiger    54300 2021-10-03 03:01:04
10    곽토리 kwak tori   471000 2021-10-03 03:01:04

### Question 14
각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라.

In [72]:
df1 = channel[['channelname', 'subcnt', 'ct']][channel['ct'] > '2021-10-03'].sort_values('ct').drop_duplicates('channelname')
df2 = channel[['channelname', 'subcnt', 'ct']][(channel['ct'] > '2021-10-03 03:00:00') & (channel['ct'] < '2021-11-01 15:00:00')].sort_values('ct').drop_duplicates('channelname', keep = 'last')

In [74]:
df1 = df1[['channelname', 'subcnt']].sort_values('channelname').reset_index(drop = True)
df2 = df2[['channelname', 'subcnt']].sort_values('channelname').reset_index(drop = True)

In [83]:
subcnt_df = df1.merge(df2, left_on='channelname', right_on='channelname')
subcnt_df['diff'] = subcnt_df['subcnt_y'] - subcnt_df['subcnt_x']

In [189]:
answer = subcnt_df[['channelname', 'diff']]
answer

        channelname   diff
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

### Question 15
각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.  
공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라.

In [141]:
import datetime
ep_1 = video[video['videoname'] == ' 공범 EP1'].reset_index(drop = True)

In [142]:
less_5 = ep_1[ep_1.ct.diff(1) <= datetime.timedelta(minutes=5)]
longer_20 = ep_1[ep_1.ct.diff(1) >= datetime.timedelta(minutes=20)]

In [188]:
answer = ep_1.loc[list(less_5.index) + list(less_5.index -1) + list(longer_20.index) + list(longer_20.index -1), :].sort_index()
answer

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
9,c5JQp6xafqc,1697079,30724,717,0,6621,2021-10-10 16:50:03,공범 EP1
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
417,c5JQp6xafqc,1663790,30454,703,0,6581,2021-10-10 15:10:03,공범 EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,공범 EP1
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

### Question 16
각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라.

In [257]:
temp = video[['videoname', 'ct']]
temp = temp.assign(date = pd.to_datetime(temp.ct).dt.date)

In [259]:
answer = temp[['date', 'videoname']].sort_values('date').drop_duplicates('videoname').reset_index(drop = True)
answer

         date videoname
0  2021-10-07    공범 EP1
1  2021-10-09    공범 EP2
2  2021-10-14    공범 EP3
3  2021-10-16    공범 EP4
4  2021-10-21    공범 EP5
5  2021-10-23    공범 EP6
6  2021-10-28    공범 EP7
7  2021-10-30    공범 EP8

### Question 17
“공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다.  
공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라.

In [166]:
released_date = video[pd.to_datetime(video['ct']).dt.hour == 21]

In [186]:
answer = (released_date[['viewcnt', 'ct', 'videoname']].sort_values('ct')\
                                                      .drop_duplicates('videoname'))\
                                                                .sort_values('viewcnt', ascending = False)\
                                                                .reset_index(drop = True)
answer

   viewcnt                  ct videoname
0   264029 2021-10-30 21:00:08    공범 EP8
1   252032 2021-10-28 21:00:04    공범 EP7
2   217674 2021-10-16 21:00:04    공범 EP4
3   213899 2021-10-23 21:00:06    공범 EP6
4   201179 2021-10-21 21:00:04    공범 EP5
5   148144 2021-10-09 21:00:03    공범 EP2
6   147183 2021-10-14 21:00:04    공범 EP3
7   117340 2021-10-07 21:00:03    공범 EP1

### Question 18
video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고  
videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라.

In [177]:
ratio_df = video.sort_values('ct', ascending = False).drop_duplicates('videoname')

In [180]:
ratio_df['ratio'] = ratio_df['dislikecnt']/ratio_df['likecnt']

In [184]:
answer = ratio_df[['videoname', 'ratio']].sort_values('ratio').reset_index(drop = True)
answer

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

### Question 19
2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오.

In [222]:
df = video[(video['ct'] >= '2021-11-01 00:00:00') & (video['ct'] <= '2021-11-01 15:00:00')].sort_values('ct')
check_diff = lambda viewcnt: max(viewcnt) - min(viewcnt)

In [227]:
answer = df[['videoname', 'viewcnt']].groupby('videoname', as_index = False).agg(check_diff)
answer

  videoname  viewcnt
0    공범 EP1    13298
1    공범 EP2    10300
2    공범 EP3     9927
3    공범 EP4     9824
4    공범 EP5    10824
5    공범 EP6    14141
6    공범 EP7    26949
7    공범 EP8    89147

### Question 20
video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라.

In [265]:
answer = (video[video.duplicated()])[['videoname', 'ct']]
answer = answer.assign(hour = pd.to_datetime(answer['ct']).dt.hour)

In [266]:
answer

     videoname                  ct  hour
722     공범 EP1 2021-10-13 09:41:37     9
3927    공범 EP2 2021-10-13 09:41:37     9